<div class="backgroundContainer">
    <div class="modal_header">
        <img src="../././../assets/icons/aboutMeIcon.svg" alt="tech stuff icon" class="containerIcon" />
        <h1 class="containerHeader">About Me</h1>
        <div class="closeButton" mat-button (click)="closeDialog()"></div>
    </div>
    <div class="row">
        <div class="column">
            <div class="aboutMeTitle">Hey there I’m Dan! 👋</div>
            <br>
            <div class="aboutMeParagraph">
                My journey into engineering is a long one which began with my fascination for space-travel as a kid.
                This led me to enrol at Queen’s University for <span class="colouredText">mechanical
                    engineering</span> with the goal of becoming an aerospace engineer and developing space crafts.
                As time went on, I became attracted to recent innovations within the tech space such as
                autonomous vehicles, robotics, and the opportunity for further innovation within the same space.
                As someone who also has a love for creation and logical problem-solving,
                I developed an interest in <span class="colouredText">software development</span> where my
                childhood friends and I spent hours trying to create modifications for Minecraft using Java.
                This was the first time I felt the satisfaction of creating a product from just an idea!
                </div>
            <div class="aboutMeParagraph">
                I then discovered Mechatronics Engineering which seemed like a discipline created for my exact
                combination of interests!
                This led me to the <span class="colouredText">University of Waterloo</span> Where I current study
                <span class="colouredText">Mechatronics Engineering</span>.
            </div>
            <div class="aboutMeParagraph">
                I also have a love for football (where I was intrumural captain at UW), basketball, working out and
                scrolling
                endlessly on instagram.
            </div>
            <br>
            <div class="aboutMeParagraph">Check out my
                <a href="../../assets/2B_CV_07312023.pdf" class="colouredText" target="_blank">
                    <strong><em>Resume!</em></strong>
                </a>
                and
                <a href="https://leetcode.com/Danryanh7/" class="colouredText" target="_blank">
                    <strong><em>Leetcode Profile!</em></strong>
                </a>
            </div>
        </div>
        <div class="column">
            <img class="aboutMeImage" src="../../assets/danThumbnail.jpg"
                alt="A photo of me on Keeha Beach in Vancouver Island, BC!" />
        </div>
    </div>
</div>