.aboutMeTitle {
    font-weight: bold;
}

.aboutMeParagraph {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;
}

.aboutMeImage {
    width: 300px;
    height: auto;
    border: 5px solid #d7d4e0;
    padding: 5px;
}

@media (max-width: 600px) {
    .aboutMeImage {
        width: 100%;
    }

    .aboutMeParagraph {
        text-align: left;
    }
}