.aboutMeTitle {
    font-weight: bold;
}

.aboutMeParagraph {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;
}

.aboutMeImage {
    width: 300px;
    height: auto;
    border: 5px solid rgb(182, 182, 182);
    padding: 5px;
}
