<div class="backgroundContainer">
    <div class="modal_header">
        <img src="../././../assets/icons/aboutMeIcon.svg" alt="tech stuff icon" class="containerIcon" />
        <h1 class="containerHeader">About Me</h1>
        <div class="closeButton" mat-button (click)="closeDialog()"></div>
    </div>
    <div class="row">
        <div class="column">
            <div class="aboutMeTitle">Hey there I’m Dan! 👋</div>
            <br>
            <div class="aboutMeParagraph">
                My engineering journey began with a childhood captivated by space and led me to <span
                    class="colouredText">mechanical engineering</span> at Queen's University with the goal of
                engineering
                space shuttles that could travel to mars and back! As time went on, I became attracted to the many
                innovations within the tech space like autonomous vehicles, robotics, and
                the opportunity for entrepreneurial endeavours. As someone passionate about the intersection between
                artistic creativity and logical problem-solving,
                I developed an interest in <span class="colouredText">software engineering and fullstack
                    development</span> which allowed me to exercise both my creativity, and my problem-solving skills.
                Building web applications from scratch and seeing them come to life was the first time I felt the
                satisfaction of creating a product from just an idea!
                I then discovered mechatronics engineering, a discipline created for my exact combination of interests!
                This led me to the <span class="colouredText">University of Waterloo</span> Where I current study
                <span class="colouredText">mechatronics engineering</span>.
                At UW, I joined <span class="colouredText">Watonomous</span>' perceptions team, where I work on
                retro-fitting a Kia Soul with LiDar sensors that detect pedestrians, cycles, and vehicles which
                sparked a passion for <span class="colouredText">embedded programming</span>, which lead me to creating
                my own <span class="colouredText">RTOS</span>! Outside of the lab, I'm super passionate about football
                and basketball (go Bills / Raptors!),
                working out, music, and scrolling endlessly on instagram.
            </div>
            <br>
            <div class="aboutMeParagraph">Check out my
                <a href="../../assets/Jan20243ACV.pdf" class="colouredText" target="_blank">
                    <strong><em>Resume!</em></strong>
                </a>
                and
                <a href="https://leetcode.com/Danryanh7/" class="colouredText" target="_blank">
                    <strong><em>Leetcode Profile!</em></strong>
                </a>
            </div>
        </div>
        <div class="column_photo">
            <img class="aboutMeImage" src="../../assets/danThumbnail.jpg"
                alt="A photo of me on Keeha Beach in Vancouver Island, BC!" />
        </div>
    </div>
</div>