<div class="backgroundContainer">
    <div class="modal_header">
        <img src="../././../assets/icons/aboutMeIcon.svg" alt="tech stuff icon" class="containerIcon" />
        <h1 class="containerHeader">About Me</h1>
        <div class="closeButton" mat-button (click)="closeDialog()"></div>
    </div>

    <div class="row">
        <div class="column">
            <div class="text-card">
                <div class="aboutMeTitle">Hey there I'm Dan! 👋</div>
                <div class="aboutMeParagraph">
                    My engineering journey began with a childhood captivated by space which led me to <span
                        class="colouredText">mechanical engineering</span> at Queen's University with the goal of
                    engineering space shuttles that could travel to mars and back. As time went on, I became attracted to
                    innovations within tech like autonomous vehicles, robotics, and
                    the opportunity for entrepreneurial endeavours. As someone passionate about the intersection between
                    artistic creativity and logical problem-solving,
                    I developed an interest in <span class="colouredText">software development</span> which allowed me to exercise both my creativity, and my problem-solving skills.
                    The thing that makes software engineering unique, is the velocity at which you can build idea. It's the only dicipline where you can build almost as
                    fast as you can think.
                    Then I discovered <span class="colouredText">mechatronics engineering</span> at the <span class="colouredText">University of Waterloo</span>
                    , an inter-disciplinary program that let me solve ALL of the hard problems.
                    At UW, I lead the <span class="colouredText">Watonomous</span> perceptions team, where I worked on
                    object tracking and detection.
                    Outside of the lab, I'm super passionate about football
                    and basketball (go Bills / Raptors!),
                    fitness, music, and scrolling (😈).
                    <br><br>
                    I started using <span class="colouredText">Obsidian</span> in March 2024 to organize my notes and thoughts
                    and now use my obsidian vault as a platform to dynamically update the world on my takes (I know, terrifying). Check out my
                    <a href="https://quartz.danryanhuynh.dev/" class="colouredText" target="_blank">
                        <strong><em>second brain</em></strong>
                    </a> here.
                </div>
                <div class="aboutMeParagraph">Check out my
                    <a href="../../assets/resumes/UPDATED_RESUME.pdf" class="colouredText" target="_blank">
                        <strong><em>Resume!</em></strong>
                    </a>
                </div>
            </div>
        </div>
        <div class="column_photo">
            <img class="aboutMeImage" src="../../assets/danThumbnail.jpg"
                alt="A photo of me on Keeha Beach in Vancouver Island, BC!" />
        </div>
    </div>
</div>
