.cardContainer {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.project-image {
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}

.imageContainer {
    height: 200px;
    width: auto;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.gradient-overlay {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 5px;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    border-radius: 8px;
}

.project-content {
    position: relative;
    top: -50px;
}

.project-title {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0 10px;
    font-size: 20px;
    color: #fff;
}

.roles {
    padding: 0 10px;
}

.role {
    display: inline-block;
    background: #c3afff;
    margin-right: 5px;
    border-radius: 4px;
    padding: 2px 8px;
    font-size: 12px;
}

.project-description {
    padding: 0 10px;
    font-size: 14px;
    margin-top: -35px;
}

.flexSpacer {
    flex-grow: 1;
}

.learn-more {
    display: block;
    text-align: center;
    padding: 5px;
    background: #8f69ff;
    text-decoration: none;
    border-radius: 4px;
    color: #000;
}