/* You can add global styles to this file, and also import other style files */
/* Page Setup */
* {
    box-sizing: border-box;
    font-family: Quattrocento, Arial, sans-serif;
    font-size: 12pt;
    font-weight: 200;
}

html,
body {
    background-color: #191f45;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &_cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        border: 5px solid #d7d4e0;
        box-shadow: 15px 10px #aba9b2;
    }
}

.column {
    margin: 0 auto;
    text-align: center;
    flex: 33%;
    padding-left: 5px;
    padding-right: 5px;
    list-style-position: inside;

    &_photo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.colouredText {
    color: #3500d3;
}

.backgroundContainer {
    background-color: rgb(231, 231, 231);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;

    &_tech {
        padding: 50px;
    }
}

.modal_header {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.containerIcon {
    width: 50px;
    height: auto;
    display: inline-block;
}

.containerHeader {
    display: inline-block;
    position: relative;
    font-size: 2.5rem;
    margin-left: 15px;
}

.closeButton {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: #000;
    background-color: #FF605C;
    width: 15px;
    height: 15px;
    border-radius: 7px;
}

.emphasizedText {
    display: inline-flex;
    font-weight: bold;
    font-style: italic;
}

.centeredText {
    text-align: center;
}

.mat-mdc-dialog-surface {
    max-height: 80vh !important;
}

@media (max-width: 800px) {
    app-proj-card {
        flex: 1 1 calc(50% - 32px);
    }
}

@media (max-width: 600px) {
    app-proj-card {
        flex: 1 1 100%;
    }
}

@media (max-width: 600px) {
    body {
        font-size: 10pt;
    }

    .row,
    .column {
        padding: 0 10px;
    }

    .backgroundContainer {
        padding-left: 0px;
        padding-right: 0px;
    }

    .row_cards {
        box-shadow: none;
    }
}