.project-card {
    padding: 5px;
    background-color: #efefef;
    overflow-y: auto;
    flex: 1 1 calc(33% - 10px);
    min-width: 275px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    .project-card {
        flex: 1 1 100%;
        margin-bottom: 20px;
    }
}
