.projectsImage {
    width: 301px;
    height: 170px;
}

.projectName {
    text-align: center;
    text-decoration: underline;
    color: #3500d3;
}

.project-card {
    padding: 5px;
    background-color: #efefef;
    overflow-y: auto;
    flex: 1 1 calc(33% - 10px);
    min-width: 275px;
    display: flex;
    flex-direction: column;
}