<div class="backgroundContainer">
    <div class="modal_header">
        <img src="../../assets/icons/projectsIcon.svg" alt="tech stuff icon" class="containerIcon" />
        <h1 class="containerHeader">Projects</h1>
        <div class="closeButton" mat-button (click)="closeDialog()"></div>
    </div>
    <div class="row_cards">
        <app-proj-redirect
            class="project-card"
            [body]="redirectDescription.body"
            [link]="redirectDescription.link">
        </app-proj-redirect>
    </div>
    <br>
    <h6 class="centeredText">Information about what I'm currently working on can be found on
        <a class="colouredText" href="https://quartz.danryanhuynh.dev/01---Projects/Projects" target="_blank">My Projects</a>
        and <a class="colouredText" href="https://github.com/danielrhuynh" target="_blank">Github</a>
    </h6>
</div>
