.work {
    background-color: #BB8FCE;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    display: inline-flex;
    margin-left: 10px;
}

.personal {
    background-color: #7DCEA0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    display: inline-flex;
    margin-left: 10px;
}

.course {
    background-color: #F1948A;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    display: inline-flex;
    margin-left: 10px;
}

.textBlock {
    text-align: center;
    margin-bottom: 15px;
    
}

.underlinedText {
    text-decoration: underline;
    font-weight: bold;
    font-size: 12pt;
}

.expInline {
    display: inline-flex;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 10pt;
}

@media (max-width: 600px) {
    .expInline {
        flex-direction: column;
        margin-top: 10px;
    }

    .textBlock {
        font-size: 14px;
    }

    .underlinedText {
        font-size: 10pt;
    }

    .expInline {
        font-size: 9pt;
    }

    .work, .personal, .course {
        width: 8px;
        height: 8px;
        margin-left: 8px;
    }
}