<div class="backgroundContainer_tech">
    <div class="modal_header">
        <img src="../../assets/icons/techIcon.svg" alt="tech stuff icon" class="containerIcon" />
        <h1 class="containerHeader">Tech Stuff</h1>
        <div class="closeButton" mat-button (click)="closeDialog()"></div>
    </div>
    <br>
    <div class="textBlock">
        <div class="textBlock"><em>So far throughout my career, I've used...</em></div>
    </div>
    <div class="row">
        <div class="column">
            <div class="underlinedText">Web Development</div>
            <div class="expInline">HTML/SCSS</div>
            <div class="work"></div>
            <div class="personal"></div>
            <div class="course"></div>
            <br>
            <div class="expInline">JavaScript/TypeScript</div>
            <div class="work"></div>
            <div class="personal"></div>
            <div class="course"></div>
            <br>
            <div class="expInline">React</div>
            <div class="work"></div>
            <div class="personal"></div>
            <div class="course"></div>
            <br>
            <div class="expInline">Angular</div>
            <div class="personal"></div>
            <br>
            <div class="expInline">Node</div>
            <div class="work"></div>
            <div class="personal"></div>
            <div class="course"></div>
            <br>
            <div class="expInline">Jest</div>
            <div class="work"></div>
            <div class="personal"></div>
            <br>
            <div class="expInline">Flask/Dash</div>
            <div class="work"></div>
            <div class="personal"></div>
            <div class="course"></div>
            <br>
            <div class="expInline">PHP</div>
            <div class="work"></div>
        </div>
        <div class="column">
            <div class="underlinedText">Programming</div>
            <div class="expInline">C++</div>
            <div class="personal"></div>
            <div class="course"></div>
            <br>
            <div class="expInline">C</div>
            <div class="personal"></div>
            <div class="course"></div>
            <br>
            <div class="expInline">Java</div>
            <div class="work"></div>
            <div class="course"></div>
            <br>
            <div class="expInline">Python</div>
            <div class="work"></div>
            <div class="personal"></div>
            <div class="course"></div>
            <br>
            <div class="expInline">SQL</div>
            <div class="work"></div>
            <div class="personal"></div>
            <div class="course"></div>
            <br>
            <div class="expInline">Swift/Swift UI</div>
            <div class="personal"></div>
            <div class="course"></div>
            <br>
        </div>
        <div class="column">
            <div class="underlinedText">Tools</div>
            <div class="expInline">Github/Gitlab/Azure</div>
            <div class="work"></div>
            <div class="personal"></div>
            <div class="course"></div>
            <br>
            <div class="expInline">Podman/Docker</div>
            <div class="work"></div>
            <div class="personal"></div>
            <br>
            <div class="expInline">Postman</div>
            <div class="work"></div>
            <br>
            <div class="expInline">Heroku CI/CD</div>
            <div class="personal"></div>
            <br>
            <div class="expInline">ROS</div>
            <div class="personal"></div>
            <div class="course"></div>
            <br>
            <div class="expInline">Azure Cosmos DB</div>
            <div class="work"></div>
            <br>
            <div class="expInline">Firestore</div>
            <div class="work"></div>
            <br>
            <div class="expInline">OpenAI APIs</div>
            <div class="work"></div>
            <div class="personal"></div>
            <br>
        </div>
    </div>
    <div class="textBlock">
        <div class="underlinedText">Legend</div>
        <div class="expInline">Work / Co-op</div>
        <div class="work"></div>
        <br>
        <div class="expInline">Personal Project</div>
        <div class="personal"></div>
        <br>
        <div class="expInline">CS Course</div>
        <div class="course"></div>
    </div>
    <br>
    <div class="textBlock">
        <div>Check out my
            <a class="colouredText" href="https://leetcode.com/Danryanh7/" target="_blank">
                <div class="emphasizedText">Leetcode Profile!</div>
            </a>
        </div>
    </div>
</div>